@import 'variables';
@import 'mixins';
@import 'base';
@import 'components';


.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}